@using FrontProjectInAsp.Net.Services
@inject LayoutService _footer;

@{
    Dictionary<string, string> settings = _footer.GetSettings();
}
<footer>
    <div class="main">
        <div class="container owncontainer">
            <div class="row">
                <div class="col-5 joinus">
                    <div class="content">
                        <p>$20 discount for your first order</p>
                        <h4>Join our newsletter and get...</h4>
                        <span>Join our email subscription now to get updates on promotions and coupons.</span>
                        <div class="mail">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fas fa-search" id=""></span>
                                </div>
                                <input type="text" class="form-control" placeholder="your email adrress">
                                <input type="button" value="Subscribe">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-7 img">
                    <img src="./assets/img/coupon.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container owncontainer">
        <div class="row">
            <div class="col-3">
                <span>Everyday fresh products</span>
            </div>
            <div class="col-3">
                <span>Free delivery for order over $70</span>
            </div>
            <div class="col-3"><span>Daily Mega Discounts</span></div>
            <div class="col-3"><span>Best price on the market</span></div>
        </div>
    </div>
    <div class="info mb-5">
        <div class="container owncontainer">
            <div class="row mylist">
                <div class="col-12 col-lg-2 mx-3">
                    <div class="mylistelements">
                        <h4>FRUIT &amp; VEGETABLES</h4>
                        <div class="">
                            <ul>
                                <li>
                                    <a href="#">FreshVegetables</a>
                                </li>
                                <li>
                                    <a href="#">Herbs&amp; Seasonings</a>
                                </li>
                                <li>
                                    <a href="#">FreshFruits</a>
                                </li>
                                <li>
                                    <a href="#">Cuts&amp; Sprouts</a>
                                </li>
                                <li>
                                    <a href="#">ExoticFruits & Veggies</a>
                                </li>
                                <li>
                                    <a href="#">PackagedProduce</a>
                                </li>
                                <li>
                                    <a href="#">PartyTrays</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-2 mx-3">
                    <div class="mylistelements">
                        <h4>FRUIT &amp; VEGETABLES</h4>
                        <div class="">
                            <ul>
                                <li>
                                    <a href="#">FreshVegetables</a>
                                </li>
                                <li>
                                    <a href="#">Herbs&amp; Seasonings</a>
                                </li>
                                <li>
                                    <a href="#">FreshFruits</a>
                                </li>
                                <li>
                                    <a href="#">Cuts&amp; Sprouts</a>
                                </li>
                                <li>
                                    <a href="#">ExoticFruits & Veggies</a>
                                </li>
                                <li>
                                    <a href="#">PackagedProduce</a>
                                </li>
                                <li>
                                    <a href="#">PartyTrays</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-2 mx-3">
                    <div class="mylistelements">
                        <h4>FRUIT &amp; VEGETABLES</h4>
                        <div class="">
                            <ul>
                                <li>
                                    <a href="#">FreshVegetables</a>
                                </li>
                                <li>
                                    <a href="#">Herbs&amp; Seasonings</a>
                                </li>
                                <li>
                                    <a href="#">FreshFruits</a>
                                </li>
                                <li>
                                    <a href="#">Cuts&amp; Sprouts</a>
                                </li>
                                <li>
                                    <a href="#">ExoticFruits & Veggies</a>
                                </li>
                                <li>
                                    <a href="#">PackagedProduce</a>
                                </li>
                                <li>
                                    <a href="#">PartyTrays</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-2 mx-3">
                    <div class="mylistelements">
                        <h4>FRUIT &amp; VEGETABLES</h4>
                        <div class="">
                            <ul>
                                <li>
                                    <a href="#">FreshVegetables</a>
                                </li>
                                <li>
                                    <a href="#">Herbs&amp; Seasonings</a>
                                </li>
                                <li>
                                    <a href="#">FreshFruits</a>
                                </li>
                                <li>
                                    <a href="#">Cuts&amp; Sprouts</a>
                                </li>
                                <li>
                                    <a href="#">ExoticFruits & Veggies</a>
                                </li>
                                <li>
                                    <a href="#">PackagedProduce</a>
                                </li>
                                <li>
                                    <a href="#">PartyTrays</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-2 mx-3">
                    <div class="mylistelements">
                        <h4>FRUIT &amp; VEGETABLES</h4>
                        <div class="">
                            <ul>
                                <li>
                                    <a href="#">FreshVegetables</a>
                                </li>
                                <li>
                                    <a href="#">Herbs&amp; Seasonings</a>
                                </li>
                                <li>
                                    <a href="#">FreshFruits</a>
                                </li>
                                <li>
                                    <a href="#">Cuts&amp; Sprouts</a>
                                </li>
                                <li>
                                    <a href="#">ExoticFruits & Veggies</a>
                                </li>
                                <li>
                                    <a href="#">PackagedProduce</a>
                                </li>
                                <li>
                                    <a href="#">PartyTrays</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact mb-5">
        <div class="container contactdetails">
            <div class="row">
                <div class="leftsection col-6">
                    <div class="number">
                        <h2>@settings["Phone"]</h2>
                        <span>@settings["WorkTime"]</span>
                    </div>
                </div>
                <div class="rightsection col-6">
                    <div class="socialmedias">
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-facebook"></i>
                    </div>
                    <div class="mobileapps">
                        <img src="./assets/img/google-play.png" class="mx-2" alt="">
                        <img src="./assets/img/app-store.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>